body {
            font-family: Sans serif;
            color: #333;
        }

        h1 {
            text-align: center;
        }

        .erro {
            color: #F44;
        }

        fieldset {
            border: 3px double #333;
            color: #000;

        }

        label {
            display: block;

        }

        input[type=text],
        textarea {
            padding: 3px;
            border-radius: 5px;
        }

        button {
            float: right;
            clear: both;
            padding-bottom: 10px;
        }
		
		
        table th {
            background-color: #EEE;
            font-size: 18px;
            text-align: center;
        }

        table td {
            border-bottom: 1px solid #333;
            color: #000;
        }
        td.centro{
            text-align: center;
        }
        ul{

        }